*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}

html{
    height: 100%;
}

body{
    cursor: none;
    height: 100%;
}
.container{
    width: 1400px;
}

.navbar{
    margin: 0;
}

#shadow{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    display: none;
}

#shadow.db{
    display: block;
}

/* 커서  */
#cursor{
    background: transparent;
    border: solid 1px #de294a;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
}


/* 로고 */
#name{
    font-family: 'LeferiBaseType-RegularA';
    display: flex;
    align-items: center;
}
#name .nameUl{
    display: flex;
    transition: all 0.6s ease;
    width: 33px;
    padding-top: 15px;
}
#name .nameUl > li{
    color: #000;
}

#name .nameUl.db{
    flex-direction: row-reverse;
    width: 22px;
}

#name .nameUl.db >li:nth-child(1){
    display: none;
}

#name span{
    text-align: center;
    color: #000;
}

/* 콘테이너 크기 */
.box1400{
    width: 1400px;
    height: 100vh;
    margin: 0 auto;
}

.width100{
    width: 100%;
    margin: 0 auto;
}

/* 인포메이션 박스 */
#infoBox{
    position: fixed;
    top: -700px;
    width: 100%;
    height: 700px;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid #de294a;
    transition: top 0.7s;
}

#infoBox.act{
    top: 0;
}

#infoBox #infoInner{
    width: 1000px;
    height: 90%;
    top: 8%;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    overflow: hidden;
}

#infoBox img{
    display: block;
    position: absolute;
    top:100%;
    left: calc(50% - 150px );
}

/* 메뉴 햄버거 버튼 */
.ham{
    z-index: 99;
    position: fixed;
    right: -80px;
    opacity: 0;
    bottom: 80px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #de294a;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(25px)
}

.ham.act{
    right: 70px;
    opacity: 1;
}

.ham span{
    display: block;
    background: #fff;
    margin: auto;
    width: 25px;
    height: 2px;
    border-radius: 0px;
    transition: 0.25s;
}

.ham .bar1{
    margin-top: 30px;
    margin-bottom: 7px
}

.ham .bar2{
    width: 14px;
    transform: translateX(5px);
}

.ham .bar3 {
    margin-top: 7px;
}

/* 햄버거 버튼 마우스 오버 */
.ham:hover .bar1 {
    transform: rotate(90deg);
    margin-top: 39px;
}

.ham:hover .bar2 {
    opacity: 0;
}

.ham:hover .bar3 {
    transform: rotate(0);
    margin-top: -11px;
}

/* 햄버거 버튼 액티브 */
.ham.act.ck .bar1 {
    transform: rotate(45deg);
    margin-top: 39px;
}
.ham.act.ck .bar2{
    opacity: 0;
}

.ham.act.ck .bar3 {
    transform: rotate(-45deg);
    margin-top: -11px;
}

/* 햄버거 이너 */

#haminner{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 98;
    left: -100%;
    transition: background 0.5s 0.1s ease-in, left 0.4s 0s, opacity 0.3s 0s ease;
    opacity: 0;
}

#haminner.act{
    left: 0;
    background-color: #f0f0f0;
    opacity: 1
}

#haminner #inBox{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#haminner #inBox #inMenu{
    width: 270px;
}

#haminner #inBox #inMenu li{
    text-align: center;
}

#haminner #inBox #inMenu li a{
    display: block;
    line-height: 50px;
}