*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}

html{
    cursor: none;
    height: 100%;
}

body{
    height: 100%;
}
.container{
    width: 1400px;
}

.navbar{
    margin: 0;
}

.dm{
    font-family: 'DM Serif Display', serif !important;
    color: #de294a;
    font-size: 130px;
    text-align: left;
}

.preten{
    font-family: 'Pretendard';
    font-weight: 800;
    font-size: 130px;
    color: #000;
    letter-spacing: -.8px;
    position: absolute;
}

#shadow{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    display: none;
}

#shadow.db{
    display: block;
}

/* 커서  */
#cursor {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 9999999999;
    background-color: #de294a;
    border-radius: 50%;

    /* pointer-events: none; */
    /* will-change: transform; */
    /*  mix-blend-mode: difference;*/
}


/* 로고 */
#name{
    font-family: 'LeferiBaseType-RegularA';
    display: flex;
    align-items: center;
}
#name .nameUl{
    display: flex;
    transition: all 0.6s ease;
    width: 33px;
    padding-top: 15px;
}
#name .nameUl > li{
    color: #000;
}

#name .nameUl.db{
    flex-direction: row-reverse;
    width: 22px;
}

#name .nameUl.db >li:nth-child(1){
    display: none;
}

#name span{
    text-align: center;
    color: #000;
}

/* 콘테이너 크기 */
.box1400{
    /* width: 1400px; */
    height: 100vh;
    margin: 0 auto;
}

.width100{
    width: 100%;
    margin: 0 auto;
}

/* 인포메이션 박스 */
#infoBox{
    position: fixed;
    top: -700px;
    width: 100%;
    height: 700px;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid #de294a;
    transition: top 0.7s;
}

#infoBox.act{
    top: 0;
}

#infoBox #infoInner{
    width: 1000px;
    height: 90%;
    top: 8%;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    overflow: hidden;
}

.formCheck{
    display: flex;
    width: 300px;
    margin: 0 auto;
    position: relative;
}

.formCheck >li{
    width: 50%;
}

.formCheck input{
    display: none;
}

.formCheck input:checked + label{
    background-color: #de294a;
    color: #fff;
}
.formCheck input:checked ~ ul{
    z-index: 5;
}

.formCheck label{
    display: block;
    background-color: #fff;
    border: solid 1px #de294a;
    color: #de294a;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
}
.formCheck .img{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #de294a;
}

.formCheck .img .profile{
    position: absolute;
    top: -10px;
    left: 0;
}

.formCheck .img .profile img{
    width: 300px;
    max-width: 300px;
    max-height: 360px;
}

.formCheck .form-check .skill{
    display: flex;
    position: absolute;
    top: 180%;
    left: -150px;
    background-color: #fff;
}

.formCheck .experience,
.formCheck .program{
    width: 390px;
    height: 400px;
}

.formCheck .program >div{
    margin-left: 30px;
}

.programing{
    width: 100%;
    height: 250px;
}



.formCheck .experience .exper{
    margin-left: 30px;
}


/* skills */


/* work */


.work small{
    display: block;
    opacity: 0.7;
}
.work ul li{
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.work ul li:hover::before{
    animation: circle 1.2s infinite;
}
.work ul li:hover span {
    color:  #de294a;
}
@keyframes circle {
    from {
    box-shadow: 0 0 0 0px  #de294a;
    }
    to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
    }
}
.work ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: 1px;
    top: -1px;
}
.work ul li:last-of-type{
    padding-bottom: 3px;
}
.work ul li:last-of-type::after {
    border-radius: 1.5px;
}
.work ul li::before,
.work ul li::after{
    content: "";
    display: block;
    position: absolute;
}
.work ul li::before {
    width: 7px;
    height: 7px;
    background: #de294a;
    border-radius: 50%;
    left: 3px;
    z-index: 1;
}
.work ul li::after {
    width: 3px;
    height: 100%;
    background: #de294a;
    left: 5px;
    top: 0;
}

.work ul li .direct{
    margin-top: 5px;
    display: block;
    background-color: #de294a;
    color: #fff;
    width: 100px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}
.work ul li span {
    transition-duration: 0.3s;
}
.work {
    padding: 0 15px;
}

.work >ul{
    margin-top: 10px;
}



#infoBox >img{
    display: block;
    position: absolute;
    top:100%;
    left: calc(50% - 125px );
}

/* 메뉴 햄버거 버튼 */
.ham{
    z-index: 99;
    position: fixed;
    right: -80px;
    opacity: 0;
    bottom: 80px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #de294a;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(25px)
}

.ham.act{
    right: 70px;
    opacity: 1;
}

.ham span{
    display: block;
    background: #fff;
    margin: auto;
    width: 25px;
    height: 2px;
    border-radius: 0px;
    transition: 0.25s;
}

.ham .bar1{
    margin-top: 30px;
    margin-bottom: 7px
}

.ham .bar2{
    width: 14px;
    transform: translateX(5px);
}

.ham .bar3 {
    margin-top: 7px;
}

/* 햄버거 버튼 마우스 오버 */
.ham:hover .bar1 {
    transform: rotate(90deg);
    margin-top: 39px;
}

.ham:hover .bar2 {
    opacity: 0;
}

.ham:hover .bar3 {
    transform: rotate(0);
    margin-top: -11px;
}

/* 햄버거 버튼 액티브 */
.ham.act.ck .bar1 {
    transform: rotate(45deg);
    margin-top: 39px;
}
.ham.act.ck .bar2{
    opacity: 0;
}

.ham.act.ck .bar3 {
    transform: rotate(-45deg);
    margin-top: -11px;
}

/* 햄버거 이너 */

#haminner{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 98;
    left: -100%;
    transition: background 0.5s 0.1s ease-in, left 0.4s 0s, opacity 0.3s 0s ease;
    opacity: 0;
}

#haminner.act{
    left: 0;
    background-color: #f0f0f0;
    opacity: 1
}

#haminner #inBox{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#haminner #inBox #inMenu{
    width: 270px;
}

#haminner #inBox #inMenu li{
    text-align: center;
}

#haminner #inBox #inMenu li a{
    display: block;
    line-height: 50px;
}


/* 0329 시작 */

#about h1, #about h2, #about h3,#about h4,#about h5{
    margin-top: 0;
    margin-bottom: 0;
}

#about, #work{
    position: relative;
    font-family: 'Pretendard';
}

.aboutbox{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.aboutbox .hTitle{
    height: 300px;
    position: sticky;
    top: 50px;
    z-index: 1;
    color: #fff;
    width: 50%;
}

.aboutbox .hTitle h2{
    font-size: 6em;
}

.aboutbox .hTitle h6{
    margin-top: 0;
    margin-bottom: 50px;
}

.aboutbox .area{
    position: static;
    z-index: 1;
    width: 50%;
}

.aboutbox .area .renew{
}

.aboutbox .area .renew >li{
    width: 90%;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 30px;
    height: 400px;
    position: relative;
}

.renew >li:hover .mockup{
    transform: translateX(-20px);
}

.renew .mockup{
    width: 50%;
    position: absolute;
    bottom: -5px;
    left: -20px;
    transition: 0.5s ease-in;
}

.renew .mockup img{
    display: block;
    width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
}


.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #de294a;
    border-radius: 40px;
}


#work{}

#work .hTitle{
    padding: 0 50px;
}

#work h2{
    width: 40%;
    text-transform: none;
    font-size: 6em;
    color: #de294a;
}

.port{
    padding: 50px;
    position: relative;
    /* overflow: hidden; */
}

.port >li{
    width: 32%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 300px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.port li a{
    display: block;
}

.port li:hover .blackText{
    width: 100%;
}

.blackText{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.4s ease;
}

/* .rebtn{
    width: 50px;
    height: 300px;
    background-color: #de294a;
    position: absolute;
    right: 0;
    top: 0;
} */